body {
  background: url("https://i.ytimg.com/vi/d5CAer2LhmM/maxresdefault.jpg");
  background-color: #F8F8F8;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}


h1 {
  font: 3em/1.5 sans-serif;
  text-align: center;
}


  h2 {
    font-size:24px;
    font-weight:bold;
    font-family:Tahoma, Geneva, sans-serif;
    text-align: center;
  }
  p1 {
    font-size: 16;
  }
  #footer {
    position: relative;
    margin-top: -180px;
    /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: red;
  }
