
h1 {
  font: 3em/1.5 sans-serif;
  text-align: center; }

body {
    background: url("https://i.ytimg.com/vi/d5CAer2LhmM/maxresdefault.jpg");
    background-color: #F8F8F8;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
  }
h2 {
  font-size:16px;
  font-weight:bold;
  font-family:Tahoma, Geneva, sans-serif;
}

#res {
  width:445px;
  font-size:13px;
  font-weight:bold;
  font-family:Tahoma, Geneva, sans-serif;   display:none;
  height:30px;
  margin:0px auto;
  padding-left:10px;
  padding-top:9px;
  border:2px solid #999;
  border-bottom:0;
}


.graphs {
    display: flex;
    flex: 1;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.graphs img {
    margin: 0 5px;
    object-fit: contain;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
