<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='about.css') }}">
</head>
<h1>
  About
<br>
</h1>
<div>
  <h2>  Welcome to the CryptoBot Back-tester!</br> </h2>
Change parameters to test how different <a href="https://www.investopedia.com/terms/m/movingaverage.asp" target="_blank"> Moving Average (MA) </a> strategies perform on the ETH-BTC market. This application assesses the performance of Buy and Hold (BH), Equal Weight (EW), and Market Timing (MT) strategies based on selected User Inputs. BH strategy only requires the Starting Capital Amount (default is 1 BTC). EW strategy also needs the Rebalancing Frequency. Finally, MT strategy uses all parameters. Additional details can be found below.
</br>
<p>
</br>
<font size="5"><b>Baselines:</b></br></font>
<b>Buy and Hold (BH):</b> In this simple strategy no trades or rebalancing occur. Thus, the Final Value Amount always equal the Starting Capital Amount.</br>
<b>Equal Weight (EW):</b> This strategy takes advantage of <a href = "https://www.investopedia.com/terms/d/diversification.asp" target="_blank">diversification </a>. At each rebalancing time, the portfolio is reset to be equally split between the base currency (BTC) and the quote currency (ETH). This 50-50 position is known as Neutral Allocation.</br>
<b>Market Timing (MT):</b> Unlike EW strategy, MT strategy deviates from the Neutral Allocation when the quote price is greater or lower by a certain amount than its simple moving average (SMA).  Specifically, if the quote price is greater by a certain amount than the SMA, the allocation to  the quote currency is increased (<b>momentum</b> indicator) or decrease (<b>contrarian</b> indicator).
The reverse happens if the quote price is lower by a certain amount than the SMA.
Ideally, MT strategy should outperform both BH and EW strategies. Typically, if momentum MT strategy performs better than EW strategy, then the corresponding contrarian MT strategy  performs worse, and vice versa.
</br>
</br>
<font size="5"><b>Parameters: </b></br></font>
<b>Strategy Indicator</b> <a href="https://www.investopedia.com/terms/m/momentum.asp" target="_blank"> Momentum </a> or <a href="https://www.investopedia.com/terms/c/contrarian.asp" target="_blank">  Contrarian </a> </br>
<b>Rebalancing Frequency:</b> This parameter (in hours) controls how frequently and when the portfolio is rebalanced. The same parameter is also used to calculate SMA.</br>
<b>Percent Cutoff:</b> This parameter controls by what percentage the quote price must deviate from SMA in order to trigger deviation from Neutral Allocation.</br>
<b>Percent Exchanged:</b> This parameter controls  how much the portfolio is shifted from Neutral Allocation, whenever reallocation is triggered.
The percent exchanged must be between 0-50%, where 50%  means that the complete portfolio is placed in one of the currencies.
</br>
<b>Starting Capital Amount:</b> The initial capital in the base currency (BTC).</br>
</br>
<font size="5"><b>Additional Definitions: </b></br></font>
<b>Sharpe Ratio:</b> <a href="https://www.investopedia.com/terms/s/sharperatio.asp" target="_blank">Risk-adjusted return</a> for a given strategy. This performance measure is annualized.</br>
<b>Price-to-SMA deviation:</b> The quote price (ETH) divided by SMA minus 1. </br>
<b>Weight in Quote:</b> Fraction of the portfolio value invested in the quote currency. For EW strategy, it is always equal to 0.5; for MT strategy, it differs from 0.5 whenever reallocation is triggered.</br>
<b>Currency Cumulative Return:</b> The quote price divided by its value at the start of the backtest period.</br>
</br>
</br>
</p>
Try out the application yourself and see how well you can do! There exists set of parameters for which Starting Capital can be increased by over 10 times.
</br>
<button onclick="location.href = '/';" id="backToHome" class="float-left submit-button" >Get Started!</button>
</br>
</br>
<div style="text-align:center;">
Tick Data pulled from Bittrex API</br>
Application created by <a href="https://github.com/nikitabondarenko/" target="_blank">Nikita Bondarenko</a> </br>
</div>
</div>
