<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<h1>
  CryptoBot Parameter MA Tester
</h1>
<div id="res"></div>

<div style="padding:140px; padding-top:40px; padding-bottom:90px; width:170px; margin:0px auto; background-color:#FFF; font-size:13px; font-family:Tahoma, Geneva, sans-serif; border:2px solid #999;">
    <form name = "selections" method="post">
      MA Strategy Indicator: <br />
      <select name="stratype" style="width: 174px;">
        <option value="Momentum">Momentum       </option>
        <option value="Contrarian">Contrarian      </option>
      </select> <br /><br />
        Redistribution Frequency <br/>(Hours):<br />
        <input id="sma_length" name = "length" type="number" value=24 style="width: 170px;"/><br /><br />
        Percent Cutoff  <br />
        <input id="cutoff" name = "cutoff" type="number" value=5 /><br /><br />
        Percent Exchanged  <br/>(From Neutral):<br />
        <input id="tilt" name = "tilt" type="number" value=50 /><br /><br />
        Starting Capital Amount (BTC):<br />
        <input id="start_amt" name ="start" type="number" value=1 /><br /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
<button onclick="location.href = '/about';" id="howToUse" class="float-left submit-button" >About</button>
