<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<h1>
  CryptoBot Parameter Tester
</h1>
<div id="res"></div>

<div style="padding:140px; padding-top:40px; padding-bottom:90px; width:175px; margin:0px auto; background-color:#FFF; font-size:13px; font-family:Tahoma, Geneva, sans-serif; border:2px solid #999;">
    <form method="post">
      Starting Capital Amount:<br />
      <input id="start_amt" name ="start" type="number" /><br /><br />
        SMA Length (minutes):<br />
        <input id="sma_length" name = "length" type="number" /><br /><br />
        Percentage Cutoff:<br />
        <input id="cutoff" name = "cutoff" type="number" step="0.01"/><br /><br />
        Tilt:<br />
        <input id="tilt" name = "tilt" type="number" step="0.01" /><br /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
